API_KEY="abc123"
DATABASE_URL=postgresql+psycopg://dbuser:db-password@db_service:5432/MYDB


#OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
OPENAI_MODEL_NAME="gpt-4o-mini"
OPENAI_API_KEY="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"


EMAIL_ADDRESS="onkar.marnee1320@gmail.com"
EMAIL_PASSWORD="jdhx cmjy hvbt rpsr"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465