API_KEY="abc123"
DATABASE_URL=postgresql+psycopg://dbuser:db-password@db_service:5432/MYDB


#OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
OPENAI_MODEL_NAME="gpt-4o-mini"
OPENAI_API_KEY="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"


EMAIL_ADDRESS="onkar.marnee1320@gmail.com"
EMAIL_PASSWORD="jdhx cmjy hvbt rpsr"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=465